@using SharedLib
@inject HttpClient Http



   
        <div style="margin: 1em 0 1em 0">
            <label>Suodata kohteen tilan mukaan:</label>
          
        </div>





@code {
    [CascadingParameter] BlazoredModalInstance Modal { get; set; } = default!;

    //private HuoltokohdeDTO[]? kohteet;





}